dist: bionic
sudo: required
language: rust

before_install:
  - sudo add-apt-repository 'deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main'
  - sudo apt-get update
  - sudo apt-get install lcov llvm-9 -y

script:
  - make build
  - make doc
  - make test
  - make test-coverage

after_success: |
  - bash <(curl -s https://codecov.io/bash -f target/debug/coverage/lcov.info)
